@if(column.buildings[0].constructionTimeLeft === -1)
<i class="fas fa-gem" title="H: {{column.buildings[0].health}}"></i>
@else
<i class="far fa-gem" title="CTL: {{column.buildings[0].constructionTimeLeft}}"></i>
@endif